
<!-- Section: Design Block -->
<section class=" background background-radial-gradient overflow-hidden">
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%);">
            Look at this stuff. <br />
            <span style="color: hsl(218, 81%, 75%)">Isn't it neat?</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Wouldn't you think my collection's complete?<br>
            Wouldn't you think I'm the girl<br>
            The girl who has everything?<br>
            Look at this trove<br>
            Treasures untold<br>
            How many wonders can one cavern hold?<br>
            Looking around here you'd think<br>
            Sure, she's got everything<br>
            I've got gadgets and gizmos a-plenty<br>
            I've got whozits and whatzits galore<br>
            You want thingamabobs?<br>
            I've got twenty!<br>
            But who cares?<br>
            No big deal<br>
            I want MOOOORRREEEEEE!!!!!!!!<br>
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div class="card bg-glass opacity">
            <div class="card-body px-4 py-5 px-md-5">
              <form class="signup-form">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="email-signup" class="form-control" placeholder="Enter a valid email" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                {{!-- Username Input  --}}
                <div class="form-outline mb-4" >
                    <input type="text" id="username-signup" class="form-control" placeholder="Choose a username" />
                    <label class="form-label" for="form3Example3" id="username-signup" >Username</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="password-signup" class="form-control" placeholder="Choose a password" />
                  <label class="form-label" for="form3Example4" id="password-signup">Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block" style="background-color:#fff7f3ff; color:black; border: solid 1px rgb(207, 207, 207);">
                  Sign up
                </button>

                <div class="text-center text-lg-start pt-2">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/login"
                        class="link-danger">Log In</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/signup.js"></script>
  <!-- Section: Design Block -->
{{!-- 

<section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="/assets/images/light-purple-pink.PNG"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form class="login-form">
      
                <!-- Username input -->
                <div class="form-outline mb-4">
                  <input type="text" id="username-login" class="form-control form-control-lg"
                    placeholder="Enter a valid username"/>
                  <label class="form-label" for="form3Example3">Username</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" class="form-control form-control-lg"
                    placeholder="Enter password" id="password-login"/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="background-color:#fff7f3ff; color:black; border: solid 1px rgb(207, 207, 207); padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                      class="link-danger">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        <div
          style="background-color:#fff7f3ff; color:black; border: solid 1px rgb(207, 207, 207);">
          <!-- Copyright -->
          <div class="text-black mb-3 mb-md-0">
            Brought to you by Octopii © 2022. All rights reserved.
          </div>
          <!-- Copyright -->
        </div>
      </section> --}}
